@import './Variable.module';
@import "./Mixin.module";

// 00000000000............{{{{{{{{{{{{{{{{{{{Arrowimg}}}}}}}}}}}}}}}}}}}
.zeroarrowdiv {
  bottom: 25px;
  position: fixed;
  right: 30px;
  z-index: 99;

  .zeroarrowdiv2 {
    background-color: hsla(31, 48%, 60%, .7);
    background-position: 0;
    background-size: 200%, 1px;
    border: 2px solid #ca9c6a;
    border-radius: 50%;
    color: $white-color;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 45px;
    @include flexcenter;
  }
}

// ------------------------------------------
// HOMEPAGE
// ---------------------------------------
// 11111111111........{{{{{{{{{{{{bg-img}}}}}}}}}}}}
.bgimg {
  background-image: url("./../public/mainimg.png");
  width: 100%;
  min-height: 900px;
  @include flexcenter;
}

// 22222222222222.............{{{{{{{{{{{    navbar      }}}}}}}}}}}
.headerdiv {
  background: $text-darkcolor;
  border-left: 7px solid $text-color;
  display: flex;
  padding: 0px 20px;

  .navlinkdiv {
    @include commoncode(1px, 30px, uppercase, $white-color, 500, 14px);
    padding: 30px 12px;
    border-top: 7px solid #ca9c6a49;
    transition: all .5s ease;
    margin: 0px 20px;

    

    &:hover {
      background-color: #65646437;
      color: $white-color;
      border-top: 7px solid $text-color;
    }

  }
  .navlinkdiv2 {
    @include commoncode(1px, 30px, uppercase, $white-color, 500, 14px);
    
    background-color: #65646437;
    padding: 30px 12px;
    margin: 0px 20px;
    border-top: 7px solid $text-color;
  }
}

// 33333333333333333............{{{{{{{{{{twoimg}}}}}}}}}}
.twoimg {
  background-image: url("./../public/mainimg2.png");
  @include background(contain);
  @include widthheigth(100%, 100%);
  padding-top: 100px;

  .im1 {
    background-image: url("./../public/im1.png");
    @include background(contain);
    @include widthheigth(100%, 600px);
    position: relative;

    .im2 {
      position: absolute;
      background-image: url("./../public/im2.png");
      @include background(contain);
      @include widthheigth(80%, 520px);
    }

    .im3 {
      position: absolute;
      display: flex;
      background-color: $white-color;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .im3h1 {
        color: $text-color;
        margin-right: 10px;
        font-size: 70px;
      }

      .im3h4 {
        @include flexcenter;
        font-size: 20px;
      }
    }
  }
}

// 44444444444444................{{{{{{{{{{{{threeimg}}}}}}}}}}}}}
.threeimg {
  background-image: url("./../public/mainimg3.jpg");
  @include background(cover);
  @include flexcenter;

  p {
    font-size: 60px;
    -webkit-text-stroke: 1px #e1e1e1;
    color: transparent;
  }

  h2 {
    @include threeimage(#1e1e1e, 40px, 600, 25px);
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $text-color
    }
  }

  h6 {
    @include threeimage($text-lightcolor, 20px, 100, 15px);
  }
}

// 5555555555555...........{{{{{{{{{{{{{{{{{{{{{videoimage}}}}}}}}}}}}}}}}}}}}}

.videoimg {
  background-image: url("./../public/video1image.png");
  @include background(contain);
  padding-top: 100px;

  .video {
    background-color: $text-color;
    position: relative;

    .videosub {
      background-image: url("./../public/chair.png");
      @include background(cover);
      position: absolute;

      .video_play {
        border-radius: 50%;
        position: absolute;
        background: rgba(0, 0, 0, .1);
        color: $text-color;
        display: inline-block;
        font-size: 27px;
        height: 76px;
        left: 50%;
        line-height: 76px;
        text-align: center;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1.25);
        transform: translate(-50%, -50%) scale(1.25);
        width: 76px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          height: 83px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

// 666666666666666.............. {{{{{{{{{{{{{lightbgsec}}}}}}}}}}}}}
.bgcolor {
  background-color: #fffbf3;
}

// 7777777777777777............{{{{{{{{{{{{{{{{{{slidersec}}}}}}}}}}}}}}}}}}
.slidermain {
  background-color: #fffbf3;
  @include widthheigth(100%, 200px);
  @include flexcenter;

  button:not(:disabled),
  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled) {
    cursor: pointer;
    display: none !important;
  }

  .immm {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

// 88888888888888888888...........{{{{{{{{{{{{{{onlyimage}}}}}}}}}}}}}}
.firstimage {
  background-image: url("./../public/onlyimage1.png");
  @include background(cover);
  @include widthheigth(100%, 100%);
  min-height: 800px;
}

.secondimage {
  background-image: url("./../public/onlyimage2.png");
  @include background(cover);
  @include widthheigth(100%, 100%);
  min-height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    -webkit-text-stroke: 1px #e1e1e1;
    color: transparent;
  }

  h3 {
    color: $white-color;
    font-weight: 600;
  }
}

// 99999999999999999999..............{{{{{{{{{{{{{{{{{{{{{Siximagesec}}}}}}}}}}}}}}}}}}}}}

.sixmaindiv {
  text-align: center;
  margin: 100px 0px;

  h2 {
    color: $text-darkcolor;
    font-weight: bold;
    font-size: 45px;
    font-family: Oswald, sans-serif;

    span {
      color: $text-color;
      font-weight: 300;
    }
  }

  p {
    font-size: 15px;
    color: $text-lightcolor;
    font-family: Oswald, sans-serif;
  }
}

.threediv {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .subthreediv {
    height: 51%;
  }

  .sssubthreediv {
    @include subthreedivmid(44%);


    h1 {
      @include sixbgh1code;

      &:hover {
        color: $text-color;
      }
    }

    h5 {
      @include sixbgh5code;
    }

    h6 {
      @include sixbgh6code;
    }
  }

  .subthreedivmid {
    @include subthreedivmid(44%);

    h1 {
      @include sixbgh1code;

      &:hover {
        color: $text-color;
      }
    }

    h5 {
      @include sixbgh5code;
    }

    h6 {
      @include sixbgh6code;
    }
  }

  .sssubthreedivmid {
    height: 51%;
  }
}

// 10.10.10.10.10.10.10.10...........{{{{{{{{{{{{{{{numbercounting}}}}}}}}}}}}}}}


.posi1 {
  position: relative;

  .posi2 {
    position: absolute;
  }

  .posi3 {
    position: absolute;
  }

  .numberdiv {
    @include numberdiv;

    span {
      @include numberdivspan(34px);
    }
  }

  .numberdiv1 {
    @include numberdiv;

    span {
      @include numberdivspan(25px);
    }
  }
}

// 11.11.11.11.11.11.11.11..... {{{{{{{{{{{{{accordion}}}}}}}}}}}}}

.accorset {
  padding: 60px 22px;

  p {
    color: $text-color;
    line-height: 40px;
    letter-spacing: 7px;
    font-family: Oswald, sans-serif;
    font-size: 13px;
  }

  h2 {
    line-height: 60px;
    letter-spacing: 7px;
    font-family: Oswald, sans-serif;
    font-weight: bold;

    span {
      font-weight: 100;
    }
  }
}

// 12.12.12.12.12.12.12.........  {{{{{{{{{{{{{{formbgimage}}}}}}}}}}}}}}
.formimgbg {
  background-image: url("./../public/formbgimg.png");
  @include background(cover);
  @include widthheigth(100%, 800px);
  padding-top: 330px;

  h2 {
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  button {
    background-color: $text-color;
    color: $white-color;
    padding: 18px 60px;
    border: none;
    font-size: 20px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: $text-darkcolor;
    }
  }
}

// 13.13.13.13.13.13.13.............{{{{{{{{{Footer}}}}}}}}}
.footermain {
  background-image: url("./../public/footerimg.png");
  @include background(cover);
  margin-top: 450px;

  .positionset {
    position: relative;

    .textcolordiv {
      background-color: $text-color;
      padding: 50px;
      position: absolute;
      top: -130px;
      width: 100%;

      p {
        @include commoncode(5px, 40px, uppercase, $white-color, 400, 17px);
        font-family: Oswald, sans-serif;
      }

      h2 {
        @include commoncode(5px, 50px, capitalize, $white-color, bold, 50px);
        font-family: Oswald, sans-serif;
      }

      .input {
        color: $white-color !important;

        input {
          background: #c19666;
          outline: 1px solid #d2b08c;
          outline-offset: -1px;
          border: none !important;
        }

        button {
          background: $text-darkcolor;
          font-weight: 300;
          color: $white-color;
          letter-spacing: 5px;
        }
      }
    }

    .setposidiv {
      position: absolute;
      width: 100%;
      color: $white-color;
      font-family: Oswald, sans-serif;

      img {
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }

      h4 {
        @include setposidiv(#fff, 25px, 22px, uppercase)
      }

      h5 {
        @include setposidiv(#fff, 20px, 15px, capitalize)
      }

      h6 {
        @include setposidiv($text-color, 20px, 15px, capitalize)
      }
    }
  }
}

.bottomfooter {
  h6 {
    color: #939ca5;
    margin: 20px 0;
    font-family: Oswald, sans-serif;

    span {
      color: $text-color;
    }
  }

  a {
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $text-color;

    }
  }
}

// -----------------------------------------------------------------------------------RESPONSIVE
@media only screen and (max-width: 575.98px) {
  .bgimg {
    .text1 {
      @include textcode(35px, $white-color, 700, 1px);
    }

    .text2 {
      @include textcode(35px, $text-color, 600, 1px);
    }
  }

  .im2 {
    @include topleft(50%, 20%);
  }

  .im3 {
    @include topleft(20%, 30%);
    padding: 10px 20px;
  }

  .twoimg {
    .settingtext {
      width: 100%;
      padding: 20px 10px;

      .settingtexth6 {
        @include commoncode(5px, 34px, uppercase, $text-color, 100, 16px);
        margin-top: 170px;
      }

      .settingtexth1 {
        @include commoncode(5px, 40px, uppercase, $text-darkcolor, 600, 30px);
      }

      .settingtexth2 {
        @include commoncode(5px, 40px, uppercase, $text-color, 600, 30px);
      }

      .settingtexth3 {
        @include commoncode(5px, 40px, uppercase, $text-color, 300, 30px);
      }

      .settingtexth5 {
        @include commoncode(5px, 34px, uppercase, $text-darkcolor, 100, 17px);
      }
    }
  }

  .videoimg {
    @include widthheigth(100%, 1px);
    margin-bottom: 200px;

    .video {
      @include widthheigth(100%, 200px);

      .videosub {
        @include widthheigth(100%, 220px);
        top: 20px;
        right: 20px;

      }
    }
  }

  .secondimage {
    h2 {
      font-size: 40px;
      padding-left: 25px;
    }

    h3 {
      padding-left: 20px;
      font-size: 40px;
      line-height: 60px;
    }
  }

  .accorset {
    width: 100%;

    h2 {
      font-size: 30px;
    }
  }

  .bgcolor {
    @include widthheigth(100%, 30px);
  }

  .footermain {
    @include widthheigth(100%, 1500px);

    .positionset {
      .textcolordiv {
        .input {
          input {
            padding: 15px 0px;
          }

          button {
            padding: 12px 29px;
          }
        }
      }

      .setposidiv {
        top: 400px;
      }
    }
  }

  .posi1 {
    .posi2 {
      @include topleft(35%, 34%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 16px);
      }
    }

    .posi3 {
      @include topleft(35%, 23%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 16px);
      }
    }
  }
}

@media only screen and (min-width: 575.98px) {
  .bgimg {
    .text1 {
      @include textcode(55px, $white-color, 700, 1px);
    }

    .text2 {
      @include textcode(60px, $text-color, 400, 2px);
    }
  }

  .im2 {
    @include topleft(50%, 20%);
  }

  .im3 {
    @include topleft(20%, 40%);
    padding: 10px 20px;
  }

  .accorset {
    width: 100%;
  }

  .formimgbg {
    .formbgsetting {
      width: 100%;
    }

    h2 {
      font-size: 40px;
    }
  }

  .posi1 {
    .posi2 {
      @include topleft(35%, 49%);

      .posih4 {
        @include numberposi2(0px, $text-color, 19px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 16px);
      }
    }

    .posi3 {
      @include topleft(35%, 35%);

      .posih4 {
        @include numberposi2(0px, $text-color, 19px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 16px);
      }
    }
  }

  .twoimg {
    .settingtext {
      width: 95%;
      margin: 0 auto;
      padding: 20px 5px;

      .settingtexth6 {
        @include commoncode(5px, 34px, uppercase, $text-color, 500, 16px);
        margin-top: 200px;
      }

      .settingtexth1 {
        @include commoncode(10px, 52px, uppercase, $text-darkcolor, 600, 43px);
      }

      .settingtexth2 {
        @include commoncode(10px, 60px, uppercase, $text-color, 600, 43px);
      }

      .settingtexth3 {
        @include commoncode(10px, 60px, uppercase, $text-color, 300, 43px);
      }

      .settingtexth5 {
        @include commoncode(5px, 34px, uppercase, $text-darkcolor, 100, 17px);
      }
    }
  }

  .videoimg {
    @include widthheigth(100%, 1px);
    margin-bottom: 300px;

    .video {
      @include widthheigth(100%, 400px);

      .videosub {
        @include widthheigth(100%, 420px);
        top: 30px;
        right: 30px;

      }
    }
  }

  .bgcolor {
    @include widthheigth(100%, 200px);
  }

  .secondimage {
    h4 {
      position: relative;
      padding-left: 160px;
      text-align: end;

      &::before {
        content: "";
        position: absolute;
        @include topleft(40px, 70px);
        width: 40%;
        height: 3px;
        background-color: $white-color;
      }
    }

    h2 {
      font-size: 60px;
    }

    h3 {
      padding-left: 60px;
      font-size: 60px;
      line-height: 80px;
    }
  }

  .footermain {
    @include widthheigth(100%, 1400px);

    .positionset {
      .textcolordiv {
        .input {
          input {
            padding: 15px 40px;
          }

          button {
            padding: 12px 69px;
          }
        }
      }

      .setposidiv {
        top: 270px;
      }
    }
  }
}


@media only screen and (min-width: 767.98px) {
  .bgimg {
    .text1 {
      @include textcode(70px, $white-color, 700, 1px);
    }

    .text2 {
      @include textcode(70px, $text-color, 400, 2px);
    }
  }

  .im2 {
    @include topleft(50%, 30%);
  }

  .im3 {
    @include topleft(20%, 60%);
    padding: 10px 20px;
  }

  .twoimg {
    .settingtext {
      width: 95%;
      margin: 0 auto;
      padding: 20px 10px;

      .settingtexth6 {
        @include commoncode(5px, 34px, uppercase, $text-color, 500, 16px);
        margin-top: 200px;
      }

      .settingtexth1 {
        @include commoncode(10px, 40px, uppercase, $text-darkcolor, 600, 47px);
      }

      .settingtexth2 {
        @include commoncode(10px, 60px, uppercase, $text-color, 600, 47px);
      }

      .settingtexth3 {
        @include commoncode(10px, 60px, uppercase, $text-color, 300, 47px);
      }

      .settingtexth5 {
        @include commoncode(5px, 34px, uppercase, $text-darkcolor, 100, 17px);
      }
    }
  }

  .videoimg {
    @include widthheigth(100%, 1px);
    margin-bottom: 300px;

    .video {
      @include widthheigth(100%, 400px);

      .videosub {
        @include widthheigth(100%, 420px);
        top: 30px;
        right: 30px;

      }
    }
  }

  .secondimage {
    h4 {
      position: relative;
      padding-left: 160px;
      text-align: end;

      &::before {
        content: "";
        position: absolute;
        @include topleft(40px, 70px);
        width: 40%;
        height: 3px;
        background-color: $white-color;
      }
    }

    h2 {
      font-size: 60px;
    }

    h3 {
      padding-left: 60px;
      font-size: 60px;
      line-height: 80px;
    }
  }

  .accorset {
    width: 100%;

    h2 {
      font-size: 40px;
    }
  }

  .bgcolor {
    @include widthheigth(100%, 200px);
  }

  .formimgbg {
    .formbgsetting {
      width: 70%;
      margin: 0 auto;
    }

    h2 {
      font-size: 45px;
    }
  }

  .footermain {
    @include widthheigth(100%, 1000px);

    .positionset {
      .textcolordiv {
        .input {
          input {
            padding: 15px 40px;
          }

          button {
            padding: 12px 30px;
          }
        }
      }

      .setposidiv {
        top: 270px;
      }
    }
  }

  .posi1 {
    .posi2 {
      @include topleft(35%, 41%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }

    .posi3 {
      @include topleft(35%, 26%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }
  }
}

@media only screen and (min-width: 991.98px) {
  .im2 {
    @include topleft(50%, 40%);
  }

  .twoimg {
    .settingtext {
      width: 85%;
      margin: 0 auto;
      padding: 20px 10px;

      .settingtexth6 {
        @include commoncode(5px, 34px, uppercase, $text-color, 500, 16px);
        margin-top: 200px;
      }

      .settingtexth1 {
        @include commoncode(5px, 55px, uppercase, $text-darkcolor, 600, 43px);
      }

      .settingtexth2 {
        @include commoncode(5px, 55px, uppercase, $text-color, 600, 43px);
      }

      .settingtexth3 {
        @include commoncode(5px, 55px, uppercase, $text-color, 300, 43px);
      }

      .settingtexth5 {
        @include commoncode(2px, 34px, uppercase, $text-darkcolor, 100, 15px);
      }
    }
  }

  .threeimg {
    padding-top: 70px;
  }

  .videoimg {
    @include widthheigth(100%, 1px);
    margin-bottom: 300px;

    .video {
      @include widthheigth(100%, 640px);

      .videosub {
        @include widthheigth(100%, 660px);
        top: 40px;
        right: 40px;
      }
    }
  }

  .accorset {
    width: 60%;
  }

  .footermain {
    @include widthheigth(100%, 800px);

    .positionset {
      .textcolordiv {
        .input {
          input {
            padding: 15px 40px;
          }

          button {
            padding: 12px 30px;
          }
        }
      }

      .setposidiv {
        top: 270px;
      }
    }
  }

  .bgcolor {
    @include widthheigth(100%, 400px);
  }

  .posi1 {
    .posi2 {
      @include topleft(35%, 58%);

      .posih4 {
        @include numberposi2(0px, $text-color, 18px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 15px);
      }
    }

    .posi3 {
      @include topleft(35%, 37%);

      .posih4 {
        @include numberposi2(0px, $text-color, 18px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 15px);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .posi1 {
    .posi2 {
      @include topleft(35%, 50%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }

    .posi3 {
      @include topleft(35%, 33%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .posi1 {
    .posi2 {
      @include topleft(35%, 45%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }

    .posi3 {
      @include topleft(35%, 30%);

      .posih4 {
        @include numberposi2(0px, $text-color, 21px);
      }

      .posih6 {
        @include numberposi2(7px, $text-lightcolor, 17px);
      }
    }
  }
}




// ------------------------------------------
// CONTACTUSPAGE
// ---------------------------------------
// 333333333333..............
.Cthreemaindiv {
  position: relative;
  top: -90px;

  .Cthreediv {
    background: #fff;
    border: 1px solid #e0e4ec;
    -webkit-clip-path: polygon(50% 0, 100% 25px, 100% 100%, 0 100%, 0 25px);
    clip-path: polygon(50% 0, 100% 25px, 100% 100%, 0 100%, 0 25px);
    margin-bottom: 30px;
    padding: 40px 65px 55px;
    @include flexcenter;
    flex-direction: column;
    padding-bottom: 50px;

    p {
      color: $text-lightcolor;
      font-family: Oswald, sans-serif;
    }
  }
}


// 4444444444...................
.Cformimgbg {
  @include widthheigth(100%, 500px);

  h2 {
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  button {
    background-color: $text-color;
    color: $white-color;
    padding: 18px 60px;
    border: none;
    font-size: 20px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: $text-darkcolor;
    }

  }
}

// ------------------------------------------
// DESIGN & PLANNING
// CUSTOM SOLUTIONS
// FURNITURE & DECOR
// ----------------------------------------
.Dpdivmain {
  padding-top: 150px;

  h2 {
    color: $text-darkcolor;
    padding: 20px 0px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 35px;
  }

  p {
    color: $text-lightcolor;
    font-size: 17px;
    letter-spacing: 1px;
  }

  div {
    a {
      background-color: #f5d4b093;
      border-radius: 50%;
      @include widthheigth(25px, 25px);
      color: #c19666 !important;
      @include flexcenter;
    }

    h6 {
      color: $text-lightcolor;
      font-size: 17px;
      letter-spacing: 1px;
    }
  }

  div {
    h4 {
      color: $text-darkcolor;
      padding: 5px 0px;
      font-family: Oswald, sans-serif;
      font-weight: 500;
    }

    p {
      font-size: 15px;
    }
  }

  button {
    background: $text-color;
    border: none;
    color: #fff;
    outline: none;
    padding: 17px 40px;
    transition: all .3s;
  }
}

// ----------------------------------------
// ARCHITECTURE
// ---------------------------------------
// 2222222222222222.................
.Amainimgdiv {
  margin-top: 150px;
  background-image: url("./../public/im2.png");
  @include background(cover);
  @include widthheigth(100%, 600px);
  position: relative;

  .Amainimgdiv2 {
    background-image: url("./../public/onlyimage2.png");
    @include background(cover);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Amainimgdiv2h1 {
      -webkit-text-stroke: 1px #e1e1e1;
      color: transparent;
    }

    .Amainimgdiv2h2 {
      color: $white-color;
      font-weight: 600;
    }
  }

  .Asubmaindiv {
    position: relative;
    padding: 22px;
    background-image: url("./../public/Archiimg1.png");
    @include background(cover);

    h3 {
      font-weight: 600;
      font-family: Oswald, sans-serif;
      line-height: 40px;
    }

    h6 {
      font-size: 13px;
      font-family: Oswald, sans-serif;
      line-height: 40px;
    }
  }
}

// 3333333333333333333.....................
.Amaindiv {
  text-align: center;

  div {
    h2 {
      font-weight: 600;
      font-family: Oswald, sans-serif;
      letter-spacing: 3px;

      span {
        color: $text-color;
        font-weight: 400;
      }
    }

    h6 {
      color: $text-lightcolor;
      font-family: Oswald, sans-serif;
    }
  }

  .Afour {
    h3 {
      border: none;
      @include commoncode(1px, 30px, uppercase, $text-darkcolor, 500, 18px);
      font-family: Oswald, sans-serif;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }

  .Atext {
    font-family: Oswald, sans-serif;

    h6 {
      color: $text-color;
      font-weight: 600;
      letter-spacing: 2px;
    }

    p {
      color: $text-lightcolor;
      font-size: 17px;
    }
  }
}

// --------------------------------------------------------------------  RESPONSIVE
@media only screen and (max-width: 575.98px) {
  .Amainimgdiv2 {
    @include widthheigth(100%, 75%);
    @include topleft(80%, 0);

    .Amainimgdiv2h1 {
      font-size: 30px;
      padding-left: 25px;
    }

    .Amainimgdiv2h2 {
      padding-left: 20px;
      font-size: 30px;
      line-height: 45px;
    }
  }

  .Asubmaindiv {
    @include topleft(15%, 3%);
    @include widthheigth(94%, 59%);
  }

  .Amaindiv {
    margin-top: 350px;

    div {
      h2 {
        font-size: 35px;
      }
    }

    .Afour {
      padding: 50px 0px;
    }

    .Aimg {
      padding: 40px 0px;
    }

    .Atext {
      padding: 40px 0px 0px;
    }
  }
}

@media only screen and (min-width: 767.98px) {
  .Amainimgdiv2 {
    @include widthheigth(100%, 75%);
    @include topleft(75%, 0);

    .Amainimgdiv2h3 {
      position: relative;
      padding-left: 160px;
      text-align: end;

      &::before {
        content: "";
        position: absolute;
        @include topleft(40px, 70px);
        @include widthheigth(40%, 3px);
        background-color: $white-color;
      }
    }

    .Amainimgdiv2h1 {
      font-size: 40px;
    }

    .Amainimgdiv2h2 {
      padding-left: 60px;
      font-size: 40px;
      line-height: 80px;
    }
  }

  .Asubmaindiv {
    @include topleft(34%, 9%);
    @include widthheigth(82%, 35%);

  }

  .Amaindiv {
    margin-top: 350px;

    div {
      h2 {
        font-size: 45px;
      }
    }

    .Afour {
      padding: 50px 90px;
    }

    .Aimg {
      padding: 40px 0px;
    }

    .Atext {
      padding: 40px 0px 0px;
    }
  }
}

@media only screen and (min-width: 991.98px) {
  .Amainimgdiv2 {
    @include widthheigth(100%, 100%);
    @include topleft(0, 64%);

    .Amainimgdiv2h3 {
      position: relative;
      padding-left: 160px;
      text-align: end;

      &::before {
        content: "";
        position: absolute;
        @include topleft(40px, 70px);
        @include widthheigth(40%, 3px);
        background-color: $white-color;
      }
    }

    .Amainimgdiv2h1 {
      font-size: 40px;
    }

    .Amainimgdiv2h2 {
      padding-left: 60px;
      font-size: 40px;
      line-height: 80px;
    }
  }

  .Asubmaindiv {
    @include topleft(43%, 5%);
    @include widthheigth(54%, 50%);
  }

  .Amaindiv {
    margin-top: 150px;

    div {
      h2 {
        font-size: 45px;
      }
    }

    .Afour {
      padding: 50px 280px;
    }

    .Aimg {
      padding: 40px 120px;
    }

    .Atext {
      padding: 40px 250px 0px;
    }
  }
}